@model IEnumerable<Freestyle.Models.Album>

@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Artist)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.AvgScore)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Artist)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.AvgScore)
        </td>
    </tr>
}

</table>
