@using Freestyle.Models
@using Microsoft.Ajax.Utilities
@model Freestyle.Models.Album

@{
    /**/

    ViewBag.Title = @Model.Title + " by " + @Model.Artist;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <section id="img"></section>
        <hr />
        <section id="score-slider">
            <h2 class="rating-avg">
                @String.Format("{0:F1}", Model.AvgScore)
            </h2>
            <div class="progress">
                <div class="progress-bar" id="score-progress"></div>
            </div>
        </section>
        <section id="review-stats">
            <h4>Statistics</h4>
        </section>
        <section id="write-review">
            @Html.ActionLink("Write a Review","Create","Review", new{albumId=Model.Id},new{@class="btn btn-outline-primary btn-lg btn-block"})
            
        </section>
        <section>
            <h4>Share on Social</h4>
            <div class="share"></div>
        </section>
        @if (Session["Role"].IfNotNull(role => role.Equals("Admin")))
        {
            <section>
                <h4>Admin: </h4>
                @Html.ActionLink("Edit ", "Edit", "Album", new { id = Model.Id }, new {@class="btn btn-outline-warning btn-block"})
                @Html.ActionLink("Delete", "Delete", "Album", new { id = Model.Id }, new{@class="btn btn-outline-danger btn-block"})
            </section>
        }
    </div>
    <div class="col-md-8">
        <section id="title">
            <h1>
                @Html.ActionLink(@Model.Title, "Details", "Album", new { id = @Model.Id }, null) by
                @Html.ActionLink(@Model.Artist, "Details", "Artist", new { id = @Model.ArtistId }, null)
            </h1>
            <h5>@Model.Genre Album, Released on @Model.ReleaseDate.ToString("D")</h5>
        </section>
        <hr />
        <h3>Synopsis</h3>
        <section id="bio"></section>
        <h3>Track List</h3>
        <section>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Track Name</th>
                    <th>Length</th>
                </tr>
                </thead>
                <tbody id="tracklist"></tbody>
                <tfoot id="totalDuration"></tfoot>
            </table>
        </section>
        <h3>Reviews</h3>
        <section>
            @Html.Action("GetReviewsByAlbum", "Review")
        </section>
        <h3>Top Video from YouTube</h3>
        <section>
            <div class="youtube-video"></div>
        </section>
    </div>
</div>


@section Scripts
{

    <script>
        var scorePercent = @Model.AvgScore * 10;
        $("#score-progress").attr("style", "width:" + scorePercent + "%");
    </script>
    <script>
        $(document).ready(function() {
            var title = "@Model.Title";
            var artistName = "@Model.Artist";
            getAlbumInfo(title, artistName);

            getVideo(title + " by  " + artistName);
            animateScore();
            embedTweet();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#review-table').DataTable({
                "language": {
                    "zeroRecords": 'No Matching Records Found.'
                },
                "columnDefs": [
                    { "targets": 2, "type": "num" },
                    { "targets": 3, "orderable": false }
                ]

            });
        });
    </script>


}

