@using Freestyle.Models
@model Freestyle.Models.Album


<section>
    <div class="row">
        <div class="col-md-7">
            <section id="rec-album-img"></section>
        </div>
        <div class="col-md-3 col-md-offset-2">
            <section>
                @Html.ActionLink("Go to Album", "Details", "Album", new { id = Model.Id }, new { @class = "btn btn-outline-primary btn-lg btn-block" })
                @Html.ActionLink("Go to Artist", "Details", "Artist", new { id = Model.ArtistId }, new { @class = "btn btn-outline-primary btn-lg btn-block" })
                @Html.ActionLink("Write a Review", "Create", "Review", new { albumId = Model.Id }, new { @class = "btn btn-outline-primary btn-lg btn-block" })
                @using (Html.BeginForm("Index", "Search",
                    new Search
                    {
                        type = "Album",
                        GenreCountry = Model.Genre,
                        ScoreLowerBound = Model.AvgScore - 3 < 0 ? 0 : Model.AvgScore - 3,
                        ScoreUpperBound = (Model.AvgScore + 3 > 10 || Model.AvgScore == 0) ? 10 : Model.AvgScore + 3,
                        DateLowerBound = Model.ReleaseDate - new TimeSpan(365 * 4, 0, 0, 0),
                        DateUpperBound = Model.ReleaseDate + new TimeSpan(365 * 4, 0, 0, 0) > DateTime.Now ? DateTime.Now : Model.ReleaseDate + new TimeSpan(365 * 4, 0, 0, 0)
                    }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
                    <section>
                        <div class="form-group">
                            <input type="submit" value="More Like" class="btn btn-outline-primary btn-lg btn-block" />
                        </div>
                    </section>

                }
            </section>
        </div>
    </div>
    <h4>
        <span id="rec-album-title">@Model.Title</span> by <span id="rec-album-artist-name">@Model.Artist</span>
</h4>
</section>

<script>
    $(document).ready(function() {

        var title = $("#rec-album-title").html();
        var artistName = $("#rec-album-artist-name").html();
        var url = encodeURI("https://ws.audioscrobbler.com/2.0/?method=album.getinfo&api_key=" + LastFmKey + "&artist=" + artistName + "&album=" + title + "&autocorrect=1&format=json");
        $.getJSON(
           url,
            function(json) {
                var alt = json.album.name.split(" ").join("") + "AlbumArt";
                var src = json.album.image[4]["#text"];

                $("#rec-album-img").html("<img class='index-album-art' alt = " + alt + " src = " + src + " style = 'height:100%; width: 100%; object-fit: contain'>");
            });
    });
</script>
