@using Microsoft.Ajax.Utilities
@model Freestyle.Models.Artist

@{
                /**/

                ViewBag.Title = Model.Name;
                Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <section id="img"></section>
        <hr />
        <section id="score-slider">
            <h2 class="rating-avg">
                @String.Format("{0:F1}", Model.AvgScore)
            </h2>
            <div class="progress">
                <div class="progress-bar" id="score-progress"></div>
            </div>
        </section>
        <section id="review-stats">
            <h4>Statistics</h4>
        </section>
        <section>
            <h4>Map</h4>
            <br/>
            <div id="google-map"></div>
        </section>
        <section>
            <h4>Share on Social</h4>
            <div class="share"></div>
        </section>
        @if (Session["Role"].IfNotNull(role => role.Equals("Admin")))
        {
            <section>
                <h4>Admin: </h4>
                @Html.ActionLink("Edit ", "Edit", "Artist", new { id = Model.Id }, new {@class="btn btn-outline-warning btn-block"})
                @Html.ActionLink("Delete", "Delete", "Artist", new { id = Model.Id }, new{@class="btn btn-outline-danger btn-block"})
            </section>
        }
        
    </div>
    <div class="col-md-8">
        <section id="title">
            <h1>
                @Html.ActionLink(@Model.Name, "Details", "Artist", @Model.Id, null)
            </h1>
            <h5>From @Model.OriginCountry</h5>
        </section>
        <hr />
        <h3>Synopsis</h3>
        <section id="bio">
        </section>
        <h3>Discography</h3>
        <section>
            @Html.Action("GetDiscog", Model.Id)
        </section>
        <h3>Reviews</h3>
        <section>
            @Html.Action("GetReviewsByArtist", "Review")
        </section>
        <h3>Top Video from YouTube</h3>
        <section>
            <div class="youtube-video"></div>
        </section>

    </div>
</div>


@section Scripts
{
    <script>
        function initMap() {

            var options = {
                zoom: 3,
                center: { lat: 0, lng: 0 }
            };
            var map = new google.maps.Map(document.getElementById("google-map"), options);
            $.getJSON("https://maps.googleapis.com/maps/api/geocode/json?address=@Model.OriginCountry&key=" + GoogleKey,
                function(json) {
                    if (json.status === 'OK') {

                        var marker = new google.maps.Marker({ position: json.results[0].geometry.location, map: map });
                        map.setCenter(marker.getPosition());

                    }
                });
        }
    </script>
    <script defer async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6perw931as-fOkiSIsmVYyfeIwLyyur4&callback=initMap"></script>
    <script>
        var scorePercent = @Model.AvgScore * 10;
        $("#score-progress").attr("style", "width:" + scorePercent + "%");
    </script>
    <script>
        $(document).ready(function () {
            var artistName = "@Model.Name";
            getArtistInfo(artistName);
            getVideo("music by " + artistName);

            animateScore();
            embedTweet();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#albums-table').DataTable({
                "language": {
                    "zeroRecords": 'No Matching Records Found.<br>Would You Like To @Html.ActionLink("Create a New Album", "Create")?'
                },
                "columnDefs": [
                    { "targets": 2, "type": "date" },
                    { "targets" : [5,4], "type": "num"},
                    { "targets": 6, "orderable": false }
                ]

            });
            $('#review-table').DataTable({
                "language": {
                    "zeroRecords": 'No Matching Records Found.'
                },
                "columnDefs": [
                    { "targets": 2, "type": "num" },
                    { "targets": 3, "orderable": false }
                ]

            });
        });
    </script>

}

