@model Freestyle.Models.Artist

@{
                /**/

                ViewBag.Title = Model.Name;
                Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <section id="img"></section>
        <hr />
        <section id="score-slider">
            <h2 class="rating-avg"></h2>
            <div class="progress">
                <div class="progress-bar" id="score-progress"></div>
            </div>
        </section>
        <section id="review-stats">
            <h4>Statistics</h4>
        </section>

    </div>
    <div class="col-md-8">
        <section id="title">
            <h1>
                @Html.ActionLink(@Model.Name, "Details", "Artist", @Model.Id, null)
            </h1>
            <h5>From @Model.OriginCountry</h5>
        </section>
        <hr />
        <h3>Synopsis</h3>
        <section id="bio">
        </section>
        <h3>Discography</h3>
        <section>
            @Html.Action("GetDiscog", Model.Id)
        </section>
    </div>
</div>


@section Scripts
{
    <script>
        $(".rating-avg").append((Math.round(@Model.AvgScore * 100) / 100).toFixed(1));
    </script>
    <script>
        var scorePercent = @Model.AvgScore * 10;
        $("#score-progress").attr("style", "width:" + scorePercent + "%");
    </script>
    <script>
        $(document).ready(function () {
            var artistName = "@Model.Name";
            getArtistInfo(artistName);

        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#albums-table').DataTable({
                "language": {
                    "zeroRecords": 'No Matching Records Found.<br>Would You Like To @Html.ActionLink("Create a New Album", "Create")?'
                },
                "columnDefs": [
                    { "targets": 2, "type": "date" },
                    { "targets" : [5,4], "type": "num"},
                    { "targets": 6, "orderable": false }
                ]

            });
        });
    </script>
}

