@model IEnumerable<Freestyle.Models.Artist>

@{
    ViewBag.Title = "Artists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("TableHeaderPartial")


<section>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Actions</th>
        </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", "Artist", new {id = item.Id}, null)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                </td>
            </tr>
        }

    </table>
</section>

<p>
    @Html.ActionLink("Create New", "Create")
</p>