@using Microsoft.Ajax.Utilities
@model Freestyle.Models.Review

@{
    ViewBag.Title = Model.Username + "'s Review of " + Model.AlbumTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <section id="img"></section>
        <hr />
        <section id="score-slider">
            <h2 class="rating-avg">
                @String.Format("{0:0.#}", Model.Score)
            </h2>
            <div class="progress">
                <div class="progress-bar" id="score-progress"></div>
            </div>
        </section>
        <section>
            <h4>Share on Social</h4>
            <div class="share"></div>
        </section>
        @if (Session["UserId"].IfNotNull(uid => uid.Equals(Model.UserId)))
        {
            <section>
                <h4>Owner: </h4>
                @Html.ActionLink("Edit ", "Edit", "Review", new {id = Model.Id}, new {@class = "btn btn-outline-warning btn-block"})
                @Html.ActionLink("Delete", "Delete", "Review", new {id = Model.Id}, new {@class = "btn btn-outline-danger btn-block"})
            </section>
        }

        @if (Session["Role"].IfNotNull(role => role.Equals("Admin")))
        {
            <section>
                <h4>Admin: </h4>
                @Html.ActionLink("Edit ", "Edit", "Review", new { id = Model.Id }, new { @class = "btn btn-outline-warning btn-block" })
                @Html.ActionLink("Delete", "Delete", "Review", new { id = Model.Id }, new { @class = "btn btn-outline-danger btn-block" })
            </section>
        }
    </div>
    <div class="col-md-8">
        <section id="title">
            <h1>
                @Html.ActionLink("@" + Model.Username, "Details", "EndUser", new { id = Model.UserId }, null)'s Review of
                @Html.ActionLink(Model.AlbumTitle, "Details", "Album", new { id = Model.AlbumId }, null)
            </h1>
        </section>
        <hr />
        <h3>Review</h3>
        <section>
            @Model.Text
        </section>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            var num = @Model.Id % 3;
            $("#img").html("<img id='review-art' src ='/Content/review_" + num + ".jpg'/>");
            animateScore();
            embedTweet();
        });
    </script>
    <script>
        var scorePercent = @Model.Score * 10;
        $("#score-progress").attr("style", "width:" + scorePercent + "%");
    </script>

}

