@using Microsoft.Ajax.Utilities
@model IEnumerable<Freestyle.Models.Album>

<section>
    <table class="table table-striped" id="albums-table">
        <thead>
        <tr>
            <th>
                Album Title
            </th>
            <th>
                Artist Name
            </th>
            <th>
                Release Date
            </th>
            <th>
                Genre
            </th>
            <th>
                Page Visits
            </th>
            <th>
                Average Score
            </th>
            <th></th>
        </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Title, "Details", "Album", new {id = item.Id}, null)
                </td>
                <td>
                    @Html.ActionLink(item.Artist, "Details", "Artist", new {id = item.ArtistId}, null)
                </td>
                <td>
                    @item.ReleaseDate.ToString("yyyy-MM-dd")
                </td>
                <td>@item.Genre</td>
                <td>
                    @item.PageViews
                </td>
                <td>
                    @String.Format("{0:0.#}", item.AvgScore)
                </td>
                <td >
                    @Html.ActionLink("Write a Review", "Create", "Review", new{albumId = item.Id}, null)
                    <div class="admin-actions"></div>
                 
                    @if (Session["Role"].IfNotNull(role => role.Equals("Admin")))
                    {
                        <b>Admin: </b>
                        @Html.ActionLink("Edit ", "Edit", "Album", new { id = item.Id }, null)
                        @Html.ActionLink("Delete", "Delete", "Album", new { id = item.Id }, null)
                    }
                </td>
            </tr>
        }

    </table>
</section>





