@using Microsoft.Ajax.Utilities
@model IEnumerable<Freestyle.Models.Artist>

<section>
    <table class="table table-striped" id="artist-table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageViews)
            </th>
            <th></th>
        </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", "Artist", new { id = item.Id }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginCountry)
                </td>
                <td>
                    @String.Format("{0:0.#}", item.AvgScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PageViews)
                </td>
                <td>
                    <div class="admin-actions">
                        @if (Session["Role"].IfNotNull(role => role.Equals("Admin")))
                        {
                            <b>Admin: </b>
                            @Html.ActionLink("Edit ", "Edit", "Artist", new { id = item.Id }, null)
                            @Html.ActionLink("Delete", "Delete", "Artist", new { id = item.Id }, null)
                        }
                    </div>
                </td>
            </tr>
        }

    </table>
</section>
