@{
    ViewBag.Title = "Home Page";
}

<section >
    <h2>Most Popular Albums</h2>
    @Html.Action("GetAlbumsPartial", "Album")
</section>
<hr/>
<section>
    <h2>Best Reviewed Artists</h2>
    @Html.Action("GetArtistsPartial", "Artist")
</section>
<hr />
<section>
    <h2>Recent Reviews</h2>
    @Html.Action("GetReviewPartial", "Review")
</section>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#albums-table').DataTable({
                
                "order":[4, 'desc'],
                "language": {
                    "zeroRecords": 'No Matching Records Found.<br>Would You Like To @Html.ActionLink("Create a New Album", "Create", "Album")?'
                },
                "columnDefs": [
                    { "targets": 2, "type": "date" },
                    { "targets" : [4,5], "type": "num"},
                    { "targets": 6, "orderable": false }
                ]

            });

            $("#artist-table").DataTable({
               
                "order": [2, 'desc'],
                "language": {
                    "zeroRecords": 'No Matching Records Found.<br>Would You Like To @Html.ActionLink("Add a New Artist", "Create", "Artist")?'
                },
                "columnDefs": [
                    { "targets": [2, 3], "type": "num" },
                    { "targets": 4, "orderable": false }
                ]
            });

            $('#review-table').DataTable({
                
                "language": {
                    "zeroRecords": 'No Matching Records Found.'
                },
                "columnDefs": [
                    { "targets": 2, "type": "num" },
                    { "targets": 3, "orderable": false }
                ]
    
            });
        });
    </script>
}