@using Microsoft.Ajax.Utilities
@model Freestyle.Models.EndUser

@{
    ViewBag.Title = "@" + Model.Username;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <section id="img">
            <img id="profile-pic" src="~/Content/profile_pic.jpg" />
        </section>
        <hr />
        <section id="score-slider">
            <h2 class="rating-avg"></h2>
            <div class="progress">
                <div class="progress-bar" id="score-progress"></div>
            </div>
        </section>
        <section>
            <h4>Share on Social</h4>
            <div class="share"></div>
        </section>
        @if (Session["UserId"].IfNotNull(uid => uid.Equals(Model.Id)))
        {
            <section>
                <h4>Owner: </h4>
                @Html.ActionLink("Update ", "Update", "EndUser", new { id = Model.Id }, new { @class = "btn btn-outline-warning" })
                @Html.ActionLink("Delete", "Delete", "EndUser", new { id = Model.Id }, new { @class = "btn btn-outline-danger" })
            </section>
        }

        @if (Session["Role"].IfNotNull(role => role.Equals("Admin")))
        {
            <section>
                <h4>Admin: </h4>
                @Html.ActionLink("Update ", "Update", "EndUser", new { id = Model.Id }, new { @class = "btn btn-outline-warning btn-block" })
                @Html.ActionLink("Delete", "Delete", "EndUser", new { id = Model.Id }, new { @class = "btn btn-outline-danger btn-block" })
            </section>
        }
    </div>
    <div class="col-md-8">
        <section id="title">
            <h1>
                @Html.ActionLink("@" + Model.Username, "Details", new { id = Model.Id })
            </h1>
        </section>
        <hr />
        <h3>Reviews</h3>
        <section>
            @Html.Action("GetReviewsByUser", "Review", new { id = Model.Id })
        </section>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            var table = $('#review-table').DataTable({
                "language": {
                    "zeroRecords": 'No Matching Records Found.'
                },
                "columnDefs": [
                    { "targets": 2, "type": "num" },
                    { "targets": 3, "orderable": false }
                ]

            });
            var avg = table.column(2).data().average();
            if (isNaN(avg)) {
                avg = 0;
            }
            $(".rating-avg").append((Math.round(avg * 100) / 100).toFixed(1));
            var scorePercent = avg * 10;
            $("#score-progress").attr("style", "width:" + scorePercent + "%");
            animateScore();
            embedTweet();
        });
    </script>
}

