<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freestyle - @ViewBag.Title</title>
    
    @Styles.Render("~/Content/css")
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>
    @Scripts.Render("~/Scripts/ajax-last-fm.js")

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="navbar">
    <a class="navbar-brand" href="~/">Freestyle</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                @Html.ActionLink("Albums", "Index", "Album", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Artists", "Index", "Artist", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Reviews", "Index", "Review", null, new { @class = "nav-link" })
            </li>
        </ul>

        @if (User.Identity.IsAuthenticated)
        {
            @Html.Partial("User/UserPartialNav");
        }
        else
        {
            @Html.Partial("Guest/GuestPartialNav")
        }

    </div>
</nav>

<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year -Freestyle</p>
    </footer>
</div>

   
</body>

@RenderSection("scripts", required: false)
</html>
