@model IEnumerable<Freestyle.Models.Album>

<section>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Album Title", "Index", "Album", new { sortOrder = ViewBag.NameSortParam }, null)
                </th>
                <th>
                    @Html.ActionLink("Artist", "Index", "Album", new { sortOrder = ViewBag.ArtistSortParam }, null)
                </th>
                <th>
                    @Html.ActionLink("Release Date", "Index", "Album", new { sortOrder = ViewBag.DateSortParam }, null)
                </th>
                <th>
                    @Html.ActionLink("Score", "Index", "Album", new { sortOrder = ViewBag.ScoreSortParam }, null)
                </th>
                <th>Actions</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Title, "Details", "Album", new { id = item.Id }, null)
                </td>
                <td>
                    @Html.ActionLink(item.Artist, "Details", "Artist", new{ id = item.ArtistId}, null)
                </td>
                <td>
                    @item.ReleaseDate.ToString("d")
                </td>
                <td>
                    @item.AvgScore / 10
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Album",new { id = item.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "Album",new { id = item.Id },null)
                </td>
            </tr>
        }

    </table>
</section>
