@model IEnumerable<Freestyle.Models.Album>

<section>
    <table class="table table-striped" id="albums-table">
        <thead>
        <tr>
            <th>
                Album Title
            </th>
            <th>
                Artist Name
            </th>
            <th>
                Release Date
            </th>
            <th>
                Genre
            </th>
            <th>
                Page Visits
            </th>
            <th>
                Average Score
            </th>
            <th></th>
        </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Title, "Details", "Album", new { id = item.Id }, null)
                </td>
                <td>
                    @Html.ActionLink(item.Artist, "Details", "Artist", new { id = item.ArtistId }, null)
                </td>
                <td>
                    @item.ReleaseDate.ToString("yyyy-MM-dd")
                </td>
                <td>@item.Genre</td>
                <td>
                    @item.PageViews
                </td>
                <td>
                    @String.Format("{0:F1}", item.AvgScore)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</section>






