@using Microsoft.Ajax.Utilities
@model IEnumerable<Freestyle.Models.Artist>

<section>
    <table class="table table-striped" id="artist-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OriginCountry)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AvgScore)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PageViews)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", "Artist", new { id = item.Id }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginCountry)
                </td>
                <td>
                    @String.Format("{0:F1}", item.AvgScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PageViews)
                </td>
                <td>
                    <div class="admin-actions"></div>
                    <script>
                $(document).ready(function() {
                    if ("@Session["Role"].IfNotNull(r => r.Equals("Admin"))" === "True") {
                        $(".admin-actions").html('<b>Admin Actions</b><br/>'+'@Html.ActionLink("| Edit |", "Edit", "Album", new {id = item.Id}, null)' + '<br/>' +
                            '@Html.ActionLink("| Delete |", "Delete", "Album", new {id = item.Id}, null)');
                    }
                });
                    </script>
                </td>
            </tr>
        }

    </table>
</section>